extends ../layout

block head
	script(src="/js/request/search.js")
	script(src="/js/request/processing.js")

block content
	.row
		.col-xs-3
			h2 Текущие заявки
		.col-xs-6.col-xs-offset-3
			#custom-search-input(style='padding-top: 20px')
				.input-group
					input.search-query.form-control(type='text', placeholder='Search')
					span.input-group-btn
						button.btn.btn-danger(type='button')#btn-search
							span.glyphicon.glyphicon-search
	table.table
		thead
			tr
				th Дата
				th Время
				th Клиент
				th 
		tbody
			each item in requests
				tr
					td
						p= item.date.getDate()+'/'+item.date.getMonth()+'/'+item.date.getFullYear() || 'Нет данных'
					td
						p= item.time || 'Нет данных'
					td
						p= (item.client && item.client.name) || 'Нет данных'
					td
						span.btn.glyphicon.glyphicon-ok(data-id=''+item._id)
						a(href='request/info/?id='+item._id)
							span.btn.glyphicon.glyphicon-info-sign
						span.btn.glyphicon.glyphicon-remove
