
	script(src='/jquery/dist/jquery.js')
	script(src="/bootstrap/dist/js/bootstrap.js")	link(href='/bootstrap/dist/css/bootstrap.css' rel='stylesheet')

	script(src="/js/utils/eventHelper.js")
	script(src='/js/libs/notify.js')

	link(href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css', rel='stylesheet')
	script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js')
	
	script(src='/moment/moment.js')
	script(src='/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')
	link(href='/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' rel='stylesheet')
	script(src='/js/bootstrap-datepicker.ru.js')

	link(href='/css/main.css' rel='stylesheet')
	link(href='/css/footer.css' rel='stylesheet')