extends ../layout

block head

block content
	.profile
		each value, field in company
			if (field == 'avatar') 
						- continue;
			p.text-primary.text-capitalize= field
			p.big= value
		div(class='avatar')
				img(src='\\avatars\\'+company.avatar alt='avatar' width='200' height='200').img-circle