extends ../layout

block head
	script(src='/js/validator.js')
	script(src='/js/reservation.js')
	script(src='/js/search.js')
	if (!locals.user)
		script(src='https://www.google.com/recaptcha/api.js')

block content
	.row
		.col-md-2
			h4 Companies
		.col-md-6.col-md-offset-4
			#custom-search-input
				.input-group
					input.search-query.form-control(type='text', placeholder='Search')
					span.input-group-btn
						button.btn.btn-danger(type='button')#btn-search
							span.glyphicon.glyphicon-search
	table(id='companies-table').table
		thead
			tr
				th 
				th Name
				th Address
				th Phone
		tbody
			each company, ind in companies
				tr
					td 
						a(href='/company/profile/?id='+company.id)
							if (company.logo)
								img(src='/logos/' + company.logo height='50' width='50').img-circle
							else
								p Link
					td
						p= company.name
					td
						p= company.address
					td
						p= company.phone
					if (locals.user == undefined || locals.user.__t == 'Client')
						td
							button.btn.btn-primary(data-toggle='modal' data-target='#exampleModal' data-companyid=company.id) Reserve table

	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#exampleModalLabel.modal-title Reserve
				.modal-body
					form#form-reserve(role='form')
						.row
							.col-xs-4
								.form-group
									label.control-label(for='date') Date
									input#date(type='date' name='date' required='').form-control
							.col-xs-4
								.form-group
									label.control-label(for='time') Time
									input#time(type='time' name='time' required='').form-control
							.col-xs-4
								.form-group
									label.control-label(for='persons') Persons
									input#persons(type='number' name='persons').form-control
						.row
							.col-xs-6
								.form-group
									label.control-label(for='email') Email
									input#phone(type='email' name='email' required='' value='' + (client.email || 'none')).form-control
						.row
							.col-xs-12
								.form-group
									label.control-label(for='message-text') Message:
									textarea#message-text(name='message').form-control
						.form-group
							input(type='hidden' name='company')
						if (!locals.user)
							.form-group
								div#captcha.g-recaptcha(data-sitekey='6LfxJx0TAAAAAMbSqaY6GGMQfqgR0a6PZFwWTva6')
						h4
							span#message.label-danger
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#btn-reserve.btn.btn-primary(type='button') Send message

