extends ../layout

block content
	#home
	.container
		.profile
			h1 About
			h3 That's awesome site 
				small developed by me
			h3 Contact: 
				br
				small mail: ikozlov9000@gmail.com

			h3 Thanks!