extends ../layout
block head
	link(href='/css/error.css' rel='stylesheet')

block content
	#home.container
	.row.text-center
		.col-xs-12
			h1 Ошибка
			h2= error.code
			h3= error.message
			img(src='/img/404.jpg' )
