extends ../layout

block content
	// Header section
	#home.container
		.row.text-center
			.col-md-3.head-main
				i.fa.fa-plus-circle.color-blue
				h3
					a(href='/register/?user=client') Зарегистрироваться
			.col-md-3.head-main
				i.fa.fa-search.color-blue
				h3
					a(href='/company/search') Забронировать столик
			.col-md-3.head-main
				i.fa.fa-star-o.color-blue
				h3
					a(href='/company/popular') Популярные компании
			.col-md-3.head-main
				i.fa.fa-users.color-blue
				h3
					a(href='/register/?user=company') Вы - компания
	// End Header section
	// About Section
	section#about.for-full-back.color-light
	.container
		.row.text-center
			.col-md-8.col-md-offset-2
				h1 ABOUT COMPANY
				h4
					strong
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
		.row.text-center
			.col-md-12
				h2 Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
		.row.text-center.space-pad
			.col-md-3
				.about-div
					i.fa.fa-camera.fa-4x.color-blue
					h3 30+ Clients 
			.col-md-3
				.about-div
					i.fa.fa-briefcase.fa-4x.color-blue
					h3 90+ Projects	
			.col-md-3
				.about-div
					i.fa.fa-desktop.fa-4x.color-blue
					h3 40+ Offices 
			.col-md-3
				.about-div
					i.fa.fa-folder.fa-4x.color-blue
					h3 10+ Countries 